<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question Details</title>
</head>
<body>
    <h1>Question Details</h1>
    <h2>{{ question.question_text }}</h2>
    <p>Pub Date: {{ question.pub_date }}</p>
    <h3>Answers:</h3>
    <ul>
        {% for answer in question.answer_set.all %}
            <li>{{ answer.answer_text }}</li>
        {% endfor %}
    </ul>
    <a href={% url 'answer_question' question.id %}>Answer this question</a>
</body>
</html>
